<template name="Access">
	{{! LOGIN }}
	<section id="login" class="visible">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-md-offset-4">
					<div class="login-box-plain">
						<h2 class="bigintro">Runelytics</h2>
						<div class="divide-40"></div>
						<form role="form" id="sign-in-with-email">
							<div class="form-group">
							<label for="exampleInputEmail1">Email address</label>
							<i class="fa fa-envelope"></i>
							<input type="email" name="emailAddress" class="form-control">
							</div>
							<div class="form-group"> 
							<label for="exampleInputPassword1">Password</label>
							<i class="fa fa-lock"></i>
							<input type="password" name="password" class="form-control">
							</div>
							<div class="form-actions">
							<button type="submit" class="btn btn-primary btn-create-account">Create account</button>
							<button type="submit" class="btn btn-default btn-sign-in">Sign In</button>
							</div>
						</form>
						{{! SOCIAL LOGIN }}
						<div class="divide-20"></div>
						<div class="center">
							<strong>Or login using your social account</strong>
						</div>
						<div class="divide-20"></div>
						<div class="social-login center">
							<a class="btn btn-primary btn-lg btn-facebook">
								<i class="fa fa-facebook"></i>
							</a>
							<a class="btn btn-info btn-lg btn-twitter">
								<i class="fa fa-twitter"></i>
							</a>
							<a class="btn btn-danger btn-lg btn-google">
								<i class="fa fa-google-plus"></i>
							</a>
						</div>
						{{! /SOCIAL LOGIN }}
						<div class="login-helpers">
							<a href="#" class="forgot-link">Forgot Password?</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	{{! /LOGIN }}

	{{! FORGOT PASSWORD }}
	<section id="forgot">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-md-offset-4">
					<div class="login-box-plain">
						<h2 class="bigintro">Reset Password</h2>
						<div class="divide-40"></div>
						<form role="form">
							<div class="form-group">
							<label for="exampleInputEmail1">Enter your Email address</label>
							<i class="fa fa-envelope"></i>
							<input type="email" class="form-control" id="exampleInputEmail1" >
							</div>
							<div class="form-actions">
							<button type="submit" class="btn btn-info">Send Me Reset Instructions</button>
							</div>
						</form>
						<div class="login-helpers">
							<a href="#" class="login-link">Back to Login</a> <br>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	{{! FORGOT PASSWORD }}
</template>